@{
    Layout = "~/Views/Layout/_LayoutIndex.cshtml";
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="example-wrap">
                        <h4 class="example-title">物资种类</h4>
                        <div id="toolbar">
                            <button id="AddMaterialType" type="button" class="btn btn-outline btn-default">
                                <i class="fa fa-tag" aria-hidden="true"></i> 添加
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table id="MaterialsType" style="overflow-x:auto; white-space:nowrap"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>