
@{
    ViewBag.Title = "基础资料-出库类型";
    Layout = "~/Views/Layout/_LayoutIndex.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="example-wrap">
                        <h4 class="example-title">出库类型</h4>
                        <div id="toolbar">
                            <button id="AddBasicData" name="OutboundType" type="button" class="btn btn-outline btn-default">
                                <i class="fa fa-plus" aria-hidden="true"></i> 添加
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table id="BDOutboundType"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


