
@{
    ViewBag.Title = "InventoryAllocation";
    Layout = "~/Views/Layout/_LayoutIndex.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">2019-09-05 17:00:41</span>
                    <h5>一号库位(KW00000001) - 木材(wood)</h5>
                </div>
                <div class="ibox-content">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#tab-1" aria-expanded="true">库位信息</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#tab-2" aria-expanded="false">物资种类</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <strong>HTML5 文档类型</strong>
                                    <p>Bootstrap 使用到的某些 HTML 元素和 CSS 属性需要将页面设置为 HTML5 文档类型。在你项目中的每个页面都要参照下面的格式进行设置。</p>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <strong>移动设备优先</strong>
                                    <p>在 Bootstrap 2 中，我们对框架中的某些关键部分增加了对移动设备友好的样式。而在 Bootstrap 3 中，我们重写了整个框架，使其一开始就是对移动设备友好的。这次不是简单的增加一些可选的针对移动设备的样式，而是直接融合进了框架的内核中。也就是说，Bootstrap 是移动设备优先的。针对移动设备的样式融合进了框架的每个角落，而不是增加一个额外的文件。</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>IT-04 - 市场部</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a4.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a5.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a6.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a8.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a7.jpg">
                        </a>
                    </div>
                    <h4>部门简介</h4>
                    <p>
                        平面设计（graphic design），也称为视觉传达设计，是以“视觉”作为沟通和表现的方式，透过多种方式来创造和结合符号、图片和文字，借此作出用来传达想法或讯息的视觉表现。
                    </p>
                    <div>
                        <span>当前项目进度：</span>
                        <div class="stat-percent">32%</div>
                        <div class="progress progress-mini">
                            <div style="width: 32%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">项目</div>
                            24
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">周期</div>
                            3个月
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="font-bold">预算</div>
                            &yen;190,325 <i class="fa fa-level-up text-navy"></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>IT-07 - 财务部</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a4.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a8.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a7.jpg">
                        </a>
                    </div>
                    <h4>部门简介</h4>
                    <p>
                        平面设计（graphic design），也称为视觉传达设计，是以“视觉”作为沟通和表现的方式，透过多种方式来创造和结合符号、图片和文字，借此作出用来传达想法或讯息的视觉表现。
                    </p>
                    <div>
                        <span>当前项目进度：</span>
                        <div class="stat-percent">73%</div>
                        <div class="progress progress-mini">
                            <div style="width: 73%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">项目</div>
                            11
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">周期</div>
                            6个月
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="font-bold">预算</div>
                            &yen;560,105 <i class="fa fa-level-up text-navy"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>IT-02 - 开发部</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a8.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a4.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a1.jpg">
                        </a>
                    </div>
                    <h4>部门简介</h4>
                    <p>
                        平面设计（graphic design），也称为视觉传达设计，是以“视觉”作为沟通和表现的方式，透过多种方式来创造和结合符号、图片和文字，借此作出用来传达想法或讯息的视觉表现。
                    </p>
                    <div>
                        <span>当前项目进度：</span>
                        <div class="stat-percent">61%</div>
                        <div class="progress progress-mini">
                            <div style="width: 61%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">项目</div>
                            43
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">周期</div>
                            1个月
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="font-bold">预算</div>
                            &yen;705,913 <i class="fa fa-level-up text-navy"></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-warning pull-right">截止</span>
                    <h5>IT-05 - 管理层</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a1.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a2.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a6.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a3.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a4.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a7.jpg">
                        </a>
                    </div>
                    <h4>部门简介</h4>
                    <p>
                        平面设计（graphic design），也称为视觉传达设计，是以“视觉”作为沟通和表现的方式，透过多种方式来创造和结合符号、图片和文字，借此作出用来传达想法或讯息的视觉表现。
                    </p>
                    <div>
                        <span>当前项目进度：</span>
                        <div class="stat-percent">14%</div>
                        <div class="progress progress-mini">
                            <div style="width: 14%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">项目</div>
                            8
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">周期</div>
                            7个月
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="font-bold">预算</div>
                            &yen;40,200 <i class="fa fa-level-up text-navy"></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>IT-08 - 销售部</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a1.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a8.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a3.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a7.jpg">
                        </a>
                    </div>
                    <h4>部门简介</h4>
                    <p>
                        平面设计（graphic design），也称为视觉传达设计，是以“视觉”作为沟通和表现的方式，透过多种方式来创造和结合符号、图片和文字，借此作出用来传达想法或讯息的视觉表现。
                    </p>
                    <div>
                        <span>当前项目进度：</span>
                        <div class="stat-percent">25%</div>
                        <div class="progress progress-mini">
                            <div style="width: 25%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">项目</div>
                            25
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">周期</div>
                            4个月
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="font-bold">预算</div>
                            &yen;140,105 <i class="fa fa-level-up text-navy"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-title">

                    <h5>IT-02 - 销售部</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a3.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a4.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a7.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a2.jpg">
                        </a>
                    </div>
                    <h4>部门简介</h4>
                    <p>
                        平面设计（graphic design），也称为视觉传达设计，是以“视觉”作为沟通和表现的方式，透过多种方式来创造和结合符号、图片和文字，借此作出用来传达想法或讯息的视觉表现。
                    </p>
                    <div>
                        <span>当前项目进度：</span>
                        <div class="stat-percent">82%</div>
                        <div class="progress progress-mini">
                            <div style="width: 82%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">项目</div>
                            68
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">周期</div>
                            2个月
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="font-bold">预算</div>
                            &yen;701,400 <i class="fa fa-level-up text-navy"></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>IT-06 - 销售部</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a1.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a2.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a4.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a7.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a8.jpg">
                        </a>
                    </div>
                    <h4>部门简介</h4>
                    <p>
                        平面设计（graphic design），也称为视觉传达设计，是以“视觉”作为沟通和表现的方式，透过多种方式来创造和结合符号、图片和文字，借此作出用来传达想法或讯息的视觉表现。
                    </p>
                    <div>
                        <span>当前项目进度：</span>
                        <div class="stat-percent">26%</div>
                        <div class="progress progress-mini">
                            <div style="width: 26%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">项目</div>
                            16
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">周期</div>
                            8个月
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="font-bold">预算</div>
                            &yen;160,100 <i class="fa fa-level-up text-navy"></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>IT-09 - 销售部</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a2.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a3.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a8.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a6.jpg">
                        </a>
                        <a href="#">
                            <img alt="member" class="img-circle" src="~/jsscs/img/a7.jpg">
                        </a>
                    </div>
                    <h4>部门简介</h4>
                    <p>
                        平面设计（graphic design），也称为视觉传达设计，是以“视觉”作为沟通和表现的方式，透过多种方式来创造和结合符号、图片和文字，借此作出用来传达想法或讯息的视觉表现。
                    </p>
                    <div>
                        <span>当前项目进度：</span>
                        <div class="stat-percent">18%</div>
                        <div class="progress progress-mini">
                            <div style="width: 18%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">项目</div>
                            53
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">周期</div>
                            9个月
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="font-bold">预算</div>
                            &yen;60,140 <i class="fa fa-level-up text-navy"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

