
@{
    ViewBag.Title = "TrayDetail";
    Layout = "~/Views/Layout/_LayoutIndex.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="example-wrap">
                        <h4 class="example-title">托盘明细</h4>
                        <div id="toolbar">
                            <button id="AddTrayDetail" type="button" class="btn btn-outline btn-default">
                                <i class="fa fa-plus" aria-hidden="true"></i> 新增
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table id="TrayDetail" style="overflow-x:auto; white-space:nowrap"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

