
@{
    ViewBag.Title = "CheckUser";
    Layout = "~/Views/Layout/_LayoutIndex.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="example-wrap">
                        <h4 class="example-title">审核注册用户</h4>
                        <div class="table-responsive">
                            <table id="CheckUser"  style="overflow-x:auto; white-space:nowrap"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
