@{
    Layout = "~/Views/Layout/_LayoutIndex.cshtml";
}

<div class="middle-box text-center animated fadeInDown">
    <h1>403</h1>
    <h2 class="font-bold">访问被拒绝</h2>

    <div class="error-desc">
        抱歉，您好像没有权限访问该页面
    </div>
</div>

