
@{
    ViewBag.Title = "UserGroupMgr";
    Layout = "~/Views/Layout/_LayoutIndex.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="example-wrap">
                        <h4 class="example-title">用户组列表</h4>
                        <div id="toolbar">
                            <button id="AddUserGroup" type="button" class="btn btn-outline btn-default" onclick="window.location.href='/AddEntity/UserGroup'">
                                <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> 添加
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table id="UserGroupMgr"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

