<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/jsscs/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="~/jsscs/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="~/jsscs/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="~/jsscs/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/jsscs/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="~/jsscs/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="~/jsscs/css/plugins/cropper/cropper.min.css" rel="stylesheet">
    <link href="~/jsscs/css/plugins/switchery/switchery.css" rel="stylesheet">
    <link href="~/jsscs/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="~/jsscs/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
    <link href="~/jsscs/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="~/jsscs/css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
    <link href="~/jsscs/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <link href="~/jsscs/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="~/jsscs/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
    <link href="~/jsscs/css/animate.css" rel="stylesheet">
    <link href="~/jsscs/css/style.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
    @if (TempData["Msg"] != null)
    {
        <div class="alert alert-info alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            @TempData["Msg"].
        </div>
    }
    <div id="notiy"></div>
    @RenderBody()

    <!-- 全局js -->
    <script src="~/jsscs/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/jsscs/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="~/jsscs/js/plugins/layer/layer.min.js"></script>
    <!-- Flot -->
    <script src="~/jsscs/js/plugins/flot/jquery.flot.js"></script>
    <script src="~/jsscs/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/jsscs/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="~/jsscs/js/plugins/flot/jquery.flot.pie.js"></script>
    <!-- Bootstrap table -->
    <script src="~/jsscs/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/jsscs/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="~/jsscs/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/jsscs/js/custom/TableInit.js"></script>

    <!-- Chosen -->
    <script src="~/jsscs/js/plugins/chosen/chosen.jquery.js"></script>

    <!-- JSKnob -->
    <script src="~/jsscs/js/plugins/jsKnob/jquery.knob.js"></script>

    <!-- Input Mask-->
    <script src="~/jsscs/js/plugins/jasny/jasny-bootstrap.min.js"></script>

    <!-- Data picker -->
    <script src="~/jsscs/js/plugins/datapicker/bootstrap-datepicker.js"></script>

    <!-- Prettyfile -->
    <script src="~/jsscs/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>

    <!-- NouSlider -->
    <script src="~/jsscs/js/plugins/nouslider/jquery.nouislider.min.js"></script>

    <!-- Switchery -->
    <script src="~/jsscs/plugins/switchery/switchery.js"></script>

    <!-- IonRangeSlider -->
    <script src="~/jsscs/js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>

    <!-- iCheck -->
    <script src="~/jsscs/js/plugins/iCheck/icheck.min.js"></script>

    <!-- MENU -->
    <script src="~/jsscs/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Color picker -->
    <script src="~/jsscs/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>

    <!-- Clock picker -->
    <script src="~/jsscs/js/plugins/clockpicker/clockpicker.js"></script>

    <!-- Image cropper -->
    <script src="~/jsscs/js/plugins/cropper/cropper.min.js"></script>

    <script src="~/jsscs/js/demo/form-advanced-demo.js"></script>

    <!--flotdemo-->


    <!--自定义js-->
    <script src="~/jsscs/js/custom/Format.js"></script>
</body>
</html>
